@import './variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  background: $color-page;
  font-family: $font-face-base;
  color: $color-text;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: $color-link;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}

h3,
h4 {
  margin: 10px 0;
}

ul li {
  list-style-type: none;
}

.lang-disable {
  // display: none;
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

// landing

// ![paysage de Mada](/media/img/madagascar.jpg)
.landing {
  height: 75vh;
  padding: 7px;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url('/media/img/madagascar.jpg');
  background-position: center;
  background-size: cover;

  border-radius: 7px;
}

.landing__text {
  background: rgba(222, 222, 222, 0.1);
}

.landing-heading--primary {
  color: orangered;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  // border-bottom: 2px solid black;
}

.landing__quote {
  text-align: center;
  color: black;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;

  & h6 {
    text-align: right;
    margin-right: 15px;
  }
}

// --- about
.main-body ul {
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.main-body ul li {
  padding-left: 10px;
}

// --------------- card ---------------------

.card {
  /* Add shadows to create the "card" effect */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  margin-bottom: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 15px 15px;
  max-width: 100%;
}

.card p {
  width: 100%;
}
.card img {
  width: 100%;
  // margin: 5px 0;
  border-radius: 5px;
}

.card h3 {
  text-align: center;
}

// ---------------- card --------------------

.card .equipe {
  margin-bottom: 15px;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #cacaca;
}

.mada-ville img,
.about-collect img {
  width: 100%;
}

.mada-carte img {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

// ---------- about

.about-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.about {
  width: 100%;
}

.about img {
  width: 100%;
  border-radius: 5px;
}

// services
// services-container
.services-img img {
  width: 100%;
  border-radius: 5px;
}

// -------------- equipe ----------------

.heading-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 15px 15px;
  // padding-bottom: 15px;
  margin: 15px 0;
  align-items: center;
  border-radius: 5px;
  background: $color-background-heading-light;
  color: $color-heading-inverse;
}

.heading-center p {
  // padding: 0 10px 0 10px;
  text-align: center;
}

.heading-center h4 {
  margin: 0;
}

.equipe .heading-center {
  margin-top: 0;
  padding-top: 0;
}

.main-body {
  text-align: justify;

  & ul {
    padding: 10px;
  }

  & ul li {
    padding: 5px;
  }
}

.main-body__anjara {
  margin: 10px auto;

  & p {
    text-align: center;

    & img {
      width: 100px;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}

// -----------  equipe
.equipe-wrapper,
.metier-wrapper,
.contact-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.equipe,
.metier {
  width: 100%;
}

.equipe img,
.metier img {
  width: 100%;
  border-radius: 5px;
}

.metier-text {
  // margin-top: 15px;
}

// ------------ contact
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & div.contact-text {
    text-align: center;
    // padding: 7px;

    & h3 {
      color: orangered;
    }
  }

  & hr.ruler {
    width: 55vw;
    margin: 0 auto;
    border: none;
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.07);
  }
}

@media screen and (min-width: 900px) {
  // card
  .card .equipe {
    // width: 33.33333%;
    justify-content: space-between;
  }

  .card-container {
    // padding: 22px;
  }

  .services {
    flex-direction: row;
    width: 100%;
    // align-items: flex-start;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
  }

  .left {
    margin-right: 7px;
  }

  .right {
    margin-left: 7px;
  }

  // landing
  .landing-heading--primary {
    font-size: 2.3rem;
    letter-spacing: 2px;
  }

  .landing__quote h6 {
    margin-right: 0;
  }

  div.about-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.about {
    width: 49.1%;
    // flex: auto;
  }

  .about-top {
    margin-top: 0;
  }

  .equipe-wrapper,
  .metier-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .equipe,
  .metier {
    width: 32%;
    // flex: auto;
  }

  .contact {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    border: 1px solid $color-gray-lighter;

    // &.contact-text {
    //   padding: 7px;
    // }
  }

  .contact-last-ruler {
    display: none;
  }
}

.text-justify {
  text-align: justify;
  // margin-top: 15px;
}
