@import './variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  background: $color-page;
  font-family: $font-face-base;
  color: $color-text;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: $color-link;
}

h1 {
  margin-bottom: 10px;
}

h3, h4 {
  margin: 10px 0;
}

ul li {
  list-style-type: none;
}

// landing

// ![paysage de Mada](/media/img/madagascar.jpg)
.landing {
  height: 75vh;
  padding: 7px;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0,0,0, 0.15)), url('/media/img/madagascar.jpg');
  background-position: center;
  background-size: cover;

  border-radius: 7px;
}

.landing__text {
  background: rgba(0,0,0,0.1);
}

.landing-heading--primary {
  color: orangered;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  // border-bottom: 2px solid black;
}

.landing__quote {
  text-align: left;
  color: black;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
}

// --- about 
.main-body ul {
  margin: 10px auto;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
}

.main-body ul li {
  padding-left: 10px;
}


// --------------- card ---------------------

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  margin-bottom: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 15px 15px;
  max-width: 100%;
}

.card p {
  width: 100%;
}
.card img {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}

.card h3 {
  text-align: center;
}

// ---------------- card --------------------

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
}

.mada-ville img, .about-collect img {
  width: 100%;
}

.mada-carte img {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}


// services 
// services-container
.services-img img {
  width: 100%;
  border-radius: 5px;
}

// -------------- equipe ----------------

.heading-center {
  padding: 5px 0;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  background: $color-background-heading;
  color: $color-heading-inverse;
}

.main-body {
  text-align: justify;
}

.main-body__anjara {
  margin: 10px auto;
  
  & p {
    text-align: center;
    
    & img {
      width: 100px;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.equipe-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.equipe {
  width: 100%;
}

.equipe img {
  width: 100%;
  border-radius: 5px;
}

// ------------ contact
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & p.contact-text {
    text-align: center;
    // padding: 7px;

    & h3 {
      color: orangered;
    }
  }

  & hr.ruler {
    width: 55vw;
    margin: 0 auto;
  }

}

@media screen and (min-width: 900px) {

  // card 
  .card-container {
    padding: 25px;
  }

  // landing 
  .landing-heading--primary {
    font-size: 2.3rem;
    letter-spacing: 2px;
    
  }

  .services {
    flex-direction: row;
  }

  .equipe-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  }

  .equipe {
    width: 33.333%;
    // flex: auto;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid $color-gray-lighter;

    // &.contact-text {
    //   padding: 7px;
    // }
  }
}

.text-justify {
  text-align: justify;
}
