@import './variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  background: $color-page;
  font-family: $font-face-base;
  color: $color-text;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: $color-link;
}

h3, h4 {
  margin: 10px 0;
}

// landing

// ![paysage de Mada](/media/img/madagascar.jpg)
.landing {
  height: 75vh;
  margin-top: 10px;
  padding: 7px;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0,0,0, 0.15)), url('/media/img/madagascar.jpg');
  background-position: center;
  background-size: cover;

  border-radius: 7px;
}

.landing__text {
  background: rgba(0,0,0,0.1);
}

.landing-heading--primary {
  color: orange;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.landing__quote {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
}


// --------------- card ---------------------

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  margin-bottom: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 15px;
  max-width: 100%;
}

.card p {
  width: 100%;
}
.card img {
  width: 100%;
  // padding: 0 10px;
}

.card h3 {
  text-align: center;
}

// ---------------- card --------------------

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
}

.mada-ville img, .about-collect img {
  width: 100%;
}

.mada-carte img {
  width: 50%;
  margin: 0 auto;
}


// services 
// services-container
.services-img img {
  width: 100%;
}

// -------------- equipe ----------------

.heading-center {
  text-align: center;
}

.main-body {
  text-align: justify;
}

.main-body__anjara {
  margin: 10px auto;
  
  & p {
    text-align: center;
    
    & img {
      width: 100px;
    }
  }
}

// .equipe {
//   max-width: 100vw;
// }

.equipe-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.equipe {
  width: 100%;
}

.equipe img {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .equipe-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  }

  .equipe {
    width: 33.333%;
    // flex: auto;
  }
}

.text-justify {
  text-align: justify;
}