@import 'styles/variables.scss';

.section {
  padding: 30px 0;

  &.alternate {
    background: $color-page-alternate;
  }

  &:last-child {
    flex: 1;
  }
}

// img {
//   width: 100%;
// }

.mada-ville img, .about-collect img {
  width: 100%;
}

.mada-carte img {
  width: 50%;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
}